@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/* 全ページ共通指定
----------------------------------------*/

body {
  font-size: 15px;
  line-height: 2;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #cccccc;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #3583aa;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

.btn a {
  font-family: 'Bitter', serif;
  font-size: 21px;
  line-height: 43px;
  display: block;
  width: auto;
  margin: 4% 38%;
  text-align: center;
  color: #ffffff;
  border: 3px solid #009cd3;
  border-radius: 5px;
  background-color: #009cd3;
}

.btn a:hover {
  text-decoration: none;
  color: #009cd3;
  background-color: #ffffff;
}

a img:hover {
  opadesign: .8;
}

.icon:before {
  padding-right: 10px;
  content: "";
  border-left: 7px solid #9cb4a4;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/* レイアウトに関する指定
----------------------------------------*/

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 50px;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  font-family: 'Bitter', serif;
  font-size: 20px;
  float: left;
  margin: 0 20px;
  list-style: none;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}

#wrap {
  clear: both;
  margin-top: 220px;
  padding: 35px 0;
  background-color: #ffffff;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

.main {
  float: left;
  width: 700px;
  margin: 0 10px;
}

.sidebar {
  font-family: 'Bitter', serif;
  float: right;
  width: 200px;
  margin: 0 10px 0 30px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 16px;
  margin-left: 20px;
}

.sidebar ul a {
  color: #333333;
}

section {
  margin-bottom: 35px;
}

footer {
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  background-color: #767671;
}

footer small {
  font-size: 12px;
}

/* index.htmlへの指定
----------------------------------------*/

#index {
  background-image: url(../images/bg-index.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#index #wrap {
  margin-top: 0;
  padding: 0;
  background-color: transparent;
}

#index .content {
  margin-top: 150px;
}

#index h1 {
  font-family: 'Permanent Marker','cursive','serif';
  text-align: center;
  font-size: 100px;
  line-height: 1.12;
  margin-bottom: 50px;
  color: #ffffff;
  border: none;
}

#index p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

#index footer {
  margin: 150px auto 0 auto;
  text-align: center;
  background-color: transparent;
}

/* about.htmlへの指定
----------------------------------------*/

#about {
  background-image: url(../images/bg-about.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

#about .profile-txt {
  float: left;
  width: 540px;
}

#about .profile-txt span {
  font-weight: bold;
}

#about .profile-image {
  float: right;
}

#about .career th {
  width: 240px;
  padding: 12px 0;
  border: 1px solid #cccccc;
  background-color: #f0f0f0;
}

#about .career td {
  width: 660px;
  padding: 12px 10px 12px 3%;
  border: 1px solid #cccccc;
}

/* portfolio.htmlへの指定
----------------------------------------*/

#portfolio {
  background-image: url(../images/bg-portfolio.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

/* design-illust.htmlへの指定
----------------------------------------*/

#design-illust {
  background-image: url(../images/bg-design-illust.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

#design-illust .design-illust-list li {
  float: left;
  margin: 0 20px 15px 0;
  list-style: none;
}

#design-illust .design-illust-list li:nth-child(3n) {
  margin-right: 0;
}

/* website.htmlへの指定
----------------------------------------*/

#website {
  background-image: url(../images/bg-website.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

/* contact.htmlへの指定
----------------------------------------*/

#contact {
  background-image: url(../images/bg-contact.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

#contact .access table {
  float: left;
}

#contact .access th,
#contact .access td {
  line-height: 2.5;
  text-align: left;
  vertical-align: top;
}

#contact .access td {
  padding-left: 30px;
}

#contact .access iframe {
  float: right;
  width: 460px;
}

#contact .form {
  padding: 30px 100px;
  background-color: #eaeaea;
}

#contact .form dl dt {
  float: none;
  clear: both;
  width: 165px;
  padding: 5px 0;
}
#contact .form .radio {
  float: left;
}

#contact .form dl dd {
  padding: 10px 0;
}
#contact .form input{
  font-size: 100%;
}

#contact .form .name {
  width: 240px;
  height: 30px;
}

#contact .form .email {
  width: 300px;
  height: 30px;
}

#contact .form .tel {
  width: 240px;
  height: 30px;
}

#contact .form .type {
  width: 180px;
  height: 30px;
}

#contact .form .message {
  width: 90%;
  height: 120px;
}

#contact .form button {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 120px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  border: 3px solid #009cd3;
  border-radius: 5px;
  background-color: #009cd3;
}

#contact .form button:hover {
  cursor: pointer;
  color: #009cd3;
  background-color: #ffffff;
}

#contact .form .required:after {
  content: "*";
  color: #ff0000;
}

#contact .form .attention {
  margin-top: 30px;
}

/* スマートフォン用CSS
----------------------------------------*/

@media screen and (max-width:800px) {
  /* 画面サイズが800px以下の場合に適用 */

  body {
    font-size: 3.5vw;
  }

  h1 {
    font-size: 7.2vw;
  }

  h2 {
    font-size: 6vw;
  }

  h2 img {
    max-width: 100%;
  }

  header {
    width: auto;
    margin: 0 5%;
  }

  .logo {
    float: none;
    margin-top: 60px;
    text-align: center;
  }

  .global-nav {
    float: none;
    margin-top: 40px;
    text-align: center;
  }

  .global-nav li {
    display: inline;
    float: none;
    margin: 0 8px;
  }

  #wrap {
    margin-top: 40px;
    padding: 35px 0 0;
  }

  .content {
    width: 100%;
    padding-bottom: 1vw;
  }

  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  .main-center{
    float: none;
    width: auto;
    margin: 0 5%;
  }

  .sidebar {
    float: none;
    width: auto;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4;
  }
  /*indexここから*/
  .btn a {
    margin: 10% 30%;
  }
#index h1{
font-size: 50px;
}
/*indexここまで*/

/*aboutここから*/
#about .profile-txt {
  float: left;
  width: auto;
}
#about .profile-image {
  width: 100%;
}
/*aboutここまで*/

/*contactここから*/
#contact .form {
  padding: 30px 20px;
}
#contact .form .name {
  width: 90%;
}
#contact .form .email{
  width: 90%;
}
#contact .form .tel{
  width: 90%;
}
#contact .form .type{
  width: 60%;
}
#contact .form .radio {
  float: none;
}
/*contactここまで*/
  #portfolio {
    background-image: url(../images/bg-portfolio-sp.png);
  }
  #about {
    background-image: url(../images/bg-about-sp.png);
  }
  #contact {
    background-image: url(../images/bg-contact-sp.png);
  }
  #website {
    background-image: url(../images/bg-website-sp.png);
  }
  #design-illust{
    background-image: url(../images/bg-design-illust-sp.png);
  }


}